<%- include('partials/header') %>
   <div>


    <h1>Contribute here!</h1>
      <form class="" action="/contribute" method="POST">
    <a class="btn btn-dark btn-lg" href="/contribute" role="button">Submit</a>
      </form>
   </div>


<%- include('partials/footer') %>
